## Global Settings
APP_URL=https://gravit-support.ru/
ROOT_FOLDER=/var/www/html
SCRIPT_PATH=texture-provider
## DataBase Settings
DB_HOST=localhost
DB_NAME=test
DB_USER=test
DB_PASS=test
# 0-65535
DB_PORT=3306
# mysql/pgsql
DB_SUD_DB=mysql
DB_PREFIX_SERVERS=server_
DB_DEBUG=true
# Logs SQL and Errors
DB_LOG_FOLDER=/var/www/db_logs

## DataBase Modules DB_NAME_MODULE && DB_TABLE_PREFIX_MODULE
DB_NAME_MODULE_TEXTURE_PROVIDER=texture-provider
DB_NAME_MODULE_ITEM_SHOP=ItemShop
DB_NAME_MODULE_VOTE_REWARDS=VoteRewards
DB_NAME_MODULE_LUCK_PERMS=LuckPerms
DB_TABLE_PREFIX_MODULE_LUCK_PERMS=luckperms_
DB_NAME_MODULE_LITE_BANS=LiteBans
DB_TABLE_PREFIX_MODULE_LITE_BANS=litebans_

BEARER_TOKEN=null
PRIVATE_API_KEY=

## SENTRY Settings
SENTRY_ENABLE=true
SENTRY_DSN=https://dce66e1d574a0066589421bda5c36b2f@o484368.ingest.us.sentry.io/4506491534573568

LAUNCH_SERVER_ECDSA256_PUBLIC_KEY_BASE64=MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEJDi51DKs5f6ERSrDDjns00BkI963L9OS9wLA2Ak/nACZCgQma+FsTsbYtZQm4nk+rtabM8b9JgzSi3sPINb8fg==

## ItemShop
SITE_TEMPLATES_FOLDER=templates/имя_шаблона
ITEM_SHOP_PATH_IN_TEMPLATES=images/item_shop

## Storage Textures
STORAGE_DIR=storage
# SKIN|CAPE|AVATAR|FRONT|FRONT_CAPE|FRONT_WITH_CAPE|BACK|
# BACK_CAPE|BACK_WITH_CAPE|CAPE_RESIZE|MOJANG|COLLECTION
TEXTURE_SKIN_PATH=skins
TEXTURE_CAPE_PATH=capes
TEXTURE_AVATAR_PATH=avatars
TEXTURE_FRONT_PATH=fronts
TEXTURE_FRONT_CAPE_PATH=front_capes
TEXTURE_FRONT_WITH_CAPE_PATH=front_with_capes
TEXTURE_BACK_PATH=backs
TEXTURE_BACK_CAPE_PATH=back_capes
TEXTURE_BACK_WITH_CAPE_PATH=back_with_capes
TEXTURE_CAPE_RESIZE_PATH=cape_resizes
TEXTURE_MOJANG_PATH=mojang
TEXTURE_COLLECTION_PATH=collection
# .png
TEXTURE_EXTENSTION=png

LEGACY_DIGEST=false
MAX_SIZE_BYTES=2M
SKIN_SIZE=64,64|64,32
CAPE_SIZE=64,32
SKIN_SIZE_HD=128,64|128,128|256,128|256,256|512,256|512,512|1024,512|1024,1024
CAPE_SIZE_HD=128,64|256,128|512,256|1024,512
SKIN_DEFAULT_SHA256=98805f6ab41575b7ff4af11b70c074773c5bcc210f2429f6b5513150d746e4cd
CAPE_DEFAULT_SHA256=f2072fdfff5302b7c13672e54fdc8895dc75b3f675be3a43245de6894f971e38
## Texture-Provider
ROUTERING=true
# Makes the request for texture links available to everyone, if you have a Bearer Token
PUBLIC_JSON_ROUTE=true
MINIMIZE_ENUM_REQUEST=false
# null|80-512 Default: 128px
AVATAR_CANVAS=null
# USERNAME - [username.png]
# UUID - [uuid.png]
# DB_USER_ID - [user_id.png] работает только с связью с БД
# DB_SHA1 - [sha1.png] работает только с связью с БД
# DB_SHA256 - [sha256.png] работает только с связью с БД
USER_STORAGE_TYPE=UUID
GIVE_FROM_COLLECTION=false
TRY_REGENERATE_CACHE=true
GIVE_DEFAULT_SKIN=true
GIVE_DEFAULT_CAPE=false
SKIN_RESIZE=true
### Texture-Provider Loader
HD_TEXTURES_ALLOW=true
LUCKPERMS_USE_PERMISSION_HD_SKIN=false
# Min 0
LUCKPERMS_MIN_WEIGHT=10
### Texture-Provider Returner
BLOCK_CANVAS=128
CAPE_CANVAS=16
BOUND_WIDTH_CANVAS=512
# Min 10 sec
IMAGE_CACHE_TIME=60